DB_HOST=localhost
DB_PORT=5433
DB_NAME=user_db
DB_USER=user_service
DB_PASSWORD=CHANGE_ME

JWT_ISSUER_URI=http://localhost:8081/realms/badrlink
JWT_JWK_SET_URI=http://localhost:8081/oauth2/jwks

INTERNAL_HMAC_SECRET=CHANGE_ME

AUTH_SERVICE_URL=http://localhost:8081